<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="./resources/main.css">
  <link rel="stylesheet" type="text/css" href="./resources/reset.css">

  <script src="./node_modules/lodash/index.js"></script>
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./node_modules/angular/angular.min.js"></script>
  <script src="./node_modules/d3/d3.min.js"></script>
  <script src="./node_modules/topojson/topojson.min.js"></script>
  <script src="./node_modules/datamaps/dist/datamaps.usa.min.js"></script>
  <script src="./data.js"></script>
  <script src="./resources/app.js"></script>

</head>
<body
  class="text-center"
  ng-app="guttmacher"
  ng-controller="guttmacher"
>
  <div class="header">
    <div class="spacer-sm"></div>
    <div class="bg-blue text-white">
      <div class="spacer-sm"></div>
      <h1 class="text-xl text-thin">Number of U.S. Births, 2010</h1>
      <div class="spacer-sm"></div>
    </div>
    <div class="spacer-sm"></div>
    <div class="spacer-md"></div>
    <div class="text-md">{{numOfBirths.maps[numOfBirths.show].total}} {{numOfBirths.show}} Births</div>
    <div class="spacer-md"></div>
  </div>

  <div class="page-column">
    <div class="show round border-blue">
      <div
        class="pad"
        ng-repeat="(key, val) in numOfBirths.maps"
        ng-click="numOfBirths.show = key"
        ng-class="{
          'bg-blue text-white': numOfBirths.show === key
        }"
      >
        &nbsp;&nbsp;{{key}}&nbsp;&nbsp;
      </div>
    </div>

    <div
      ng-repeat="(key, val) in numOfBirths.maps"
      id="{{val.id}}"
      ng-if="numOfBirths.show === key"
    >
      <div
        class="map"
        ng-init="val.render()"
      ></div>
      <div class="spacer-lg"></div>
      <div class="legend valign-mid">
        <div
          class="legend-item"
          ng-repeat="item in val.ranges"
        >
          <div class="valign-mid">
            <div
              class="legend-icon"
              style="background-color:{{item.fill}};"
            ></div>&nbsp;&nbsp;<span>{{item.title}}</span>
          </div>
          <div class="spacer-sm"></div>
        </div>
      </div>
    </div>

    <div class="spacer-lg"></div>
  </div>
</body>