<!DOCTYPE html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="./resources/main.css">
  <link rel="stylesheet" type="text/css" href="./resources/reset.css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.4.0/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
  <script src="./bower_components/datamaps/dist/datamaps.usa.min.js"></script>
  <script src="./data.js"></script>
  <script src="./resources/app.js"></script>

</head>
<body
  class="text-center"
  ng-app="guttmacher"
  ng-controller="guttmacher"
>
  <div class="spacer-sm"></div>
  <div class="bg-blue text-white">
    <div class="spacer-sm"></div>
    <h1 class="text-xl text-thin">Number of U.S. Births, 2010</h1>
    <div class="spacer-sm"></div>
  </div>
  <div class="spacer-sm"></div>
  <div class="spacer-md"></div>
  <div class="text-md">{{numOfBirths.maps[numOfBirths.show].total}} Births</div>
  <div class="spacer-md"></div>
  <div class="show round border-blue">
    <div
      class="pad"
      ng-repeat="(key, val) in numOfBirths.maps"
      ng-click="numOfBirths.show = key"
      ng-class="{
        'bg-blue text-white': numOfBirths.show === key
      }"
    >
      &nbsp;&nbsp;{{key}}&nbsp;&nbsp;
    </div>
  </div>

  <div
    ng-repeat="(key, val) in numOfBirths.maps"
    id="{{val.id}}"
    ng-if="numOfBirths.show === key"
  >
    <div
      class="map"
      ng-init="val.render()"
    ></div>
  </div>

  <div class="spacer-lg"></div>
</body>