.map {
    height: 380px;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

a[href], [ng-click] {
    cursor: pointer;
}

.bg-blue {
    background-color: #236467;
}

.border-blue {
    border: 1px solid #236467;
}

[class*="text-"] {
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}

.text-xs {
    font-size: 14px;
}

.text-sm {
    font-size: 18px;
}

.text-md {
    font-size: 22px;
}

.text-lg {
    font-size: 26px;
}

.text-xl {
    font-size: 32px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: #FFFFFF;
}

.text-thin {
    font-family: 'helvetica neue';
    letter-spacing: 0.075em;
}

[class*="-spacer-"] {
    margin: 0;

    + * {
        clear: both;
    }
}

.spacer-none {
    height: 0;

    + * {
        clear: none;
    }
}

.spacer-xs {
    height: 5px;
}

.spacer-sm {
    height: 10px;
}

.spacer-md {
    height: 20px
}

.spacer-lg {
    height: 40px;
}

.spacer-xl {
    height: 60px;
}

.pad-t, .pad-tb, .pad, .pad-r, .pad-lr, .pad-b, .pad-l {
    display: inline-block;
}

.pad-t, .pad-tb, .pad {
    padding-top: 0.5em;
}

.pad-r, .pad-lr, .pad {
    padding-right: 0.5em;
}

.pad-b, .pad-tb, .pad {
    padding-bottom: 0.5em;
}

.pad-l, .pad-lr, .pad {
    padding-left: 0.5em;
}

.round {
    overflow: auto;
    border-radius: 8px;
}

.show {
    display: inline-block;
}

.hidden {
    display: none;
}

.valign-mid > * {
    display: inline-block;
    vertical-align: middle;
}

.datamap path {
    stroke: #ffffff;
}

.legend-item {
    width: 2em;
    height: 2em;
    display: inline-block;
}