.page-column {
    width: 1100px;
    margin: 0 auto;
}

.map {
    height: 380px;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

a[href], [ng-click] {
    cursor: pointer;
}

.bg-white {
    background-color: #ffffff;
}

.bg-blue {
    background-color: #236467;
}

.bg-hover-blue:hover {
    background-color: #236467;
}

.border-blue {
    border: 1px solid #236467;
}

.border-none {
    border-width: 0;
}

.border-tb {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

[class*="text-"] {
    font-family: helvetica, arial, sans-serif;
    font-weight: 100;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}

.text-xxs {
    font-size: 12px;
}

.text-xs {
    font-size: 14px;
}

.text-sm {
    font-size: 18px;
}

.text-md {
    font-size: 22px;
}

.text-lg {
    font-size: 26px;
}

.text-xl {
    font-size: 32px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-white {
    color: #FFFFFF;
}

.text-hover-white:hover {
    color: #FFFFFF
}

.text-thin {
    font-family: 'helvetica neue';
    letter-spacing: 0.075em;
}

[class*="-spacer-"] {
    margin: 0;

    + * {
        clear: both;
    }
}

.spacer-none {
    height: 0;

    + * {
        clear: none;
    }
}

.spacer-xs {
    height: 5px;
}

.spacer-sm {
    height: 10px;
}

.spacer-md {
    height: 20px
}

.spacer-lg {
    height: 40px;
}

.spacer-xl {
    height: 60px;
}

.pad-t, .pad-tb, .pad, .pad-r, .pad-lr, .pad-b, .pad-l {
    display: inline-block;
}

.pad-t, .pad-tb, .pad {
    padding-top: 0.5em;
}

.pad-r, .pad-lr, .pad {
    padding-right: 0.5em;
}

.pad-b, .pad-tb, .pad {
    padding-bottom: 0.5em;
}

.pad-l, .pad-lr, .pad {
    padding-left: 0.5em;
}

.round {
    overflow: auto;
    border-radius: 8px;
}

.round-left {
    overflow: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.round-right {
    overflow: auto;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.show {
    display: inline-block;
}

.hidden {
    display: none;
}

.valign-mid > * {
    display: inline-block;
    vertical-align: middle;
}

.valign-top > * {
    display: inline-block;
    vertical-align: top;
}

.datamap path {
    stroke: #ffffff;
}

.legend-item {
    width: 25%;
}

.legend-icon {
    width: 2em;
    height: 2em;
    display: inline-block;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.width-full {
    width: 100%;
}

.width-25 {
    width: 25%;
}

.width-75 {
    width: 75%
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}